.nav-tabs button.active {
    background-color: var(--bs-secondary) !important;
}

[data-modeller-current="true"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 3px dashed var(--bs-danger);
    outline-offset: 2px;
    z-index: 5000;
}

#modeller * {
    box-sizing: initial;
}

.accordion-button::after {
    filter: brightness(0%) invert(100%);
}

#hierarchy button[data-bs-toggle="collapse"] > .bi::before {
    transition: .2s all;
}

#hierarchy button[data-bs-toggle="collapse"].collapsed > .bi::before {
    transform: rotate(-90deg);
}

#hierarchy > div > ul > li > .input-group:first-of-type {
    margin-top: 0 !important;
}