.accordion-button::after {
    filter: brightness(0%) invert(100%);
}

#hierarchy button[data-bs-toggle="collapse"] > .bi::before,
#properties button[data-bs-toggle="collapse"] > .bi::before {
    transition: .2s all;
}

#hierarchy button[data-bs-toggle="collapse"].collapsed > .bi::before {
    transform: rotate(-90deg);
}

#properties button[data-bs-toggle="collapse"]:not(.collapsed) > .bi::before {
    transform: rotate(180deg);
}

#hierarchy > div > ul > li > .input-group:first-of-type {
    margin-top: 0 !important;
}

#properties input[value="initial"] {
    border-color: var(--bs-warning) !important;
    color: var(--bs-warning) !important;
}

#properties > .accordion-body > div > .input-group:last-of-type {
    margin-bottom: 0 !important;
}

#properties > .accordion-body > div:empty {
    margin-bottom: 0 !important;
}

#properties .property-name {
    flex: initial !important;
}

#properties .property-name,
#properties .property-value-number {
    width: calc(100% / 3) !important;
    max-width: 20em !important;
}

#properties .property-value-number,
#properties .property-value-slider {
    padding: calc(.375rem + 1px) calc(.75rem + 1px) !important;
}

#properties .property-value-number > div:first-child {
    direction: rtl;
}

#properties .property-value-number > div:first-child,
#properties .property-value-number > div:last-child {
    flex: 1 !important;
}