.accordion-button::after {
    filter: brightness(0%) invert(100%);
}

#hierarchy button[data-bs-toggle="collapse"] > .bi::before {
    transition: .2s all;
}

#hierarchy button[data-bs-toggle="collapse"].collapsed > .bi::before {
    transform: rotate(-90deg);
}

#hierarchy > div > ul > li > .input-group:first-of-type {
    margin-top: 0 !important;
}

#properties input[value="initial"] {
    border-color: var(--bs-warning) !important;
    color: var(--bs-warning) !important;
}

#properties > .accordion-body > div > .input-group:last-of-type {
    margin-bottom: 0 !important;
}

#properties > .accordion-body > div:not(:has(div)) {
    margin-bottom: 0 !important;
}